body {
    margin-top: 20px;
    background-color: lightgray;
}

.main {
    padding: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.topbar {
    background-color: teal;
    overflow: hidden;
}

.topbar a, .topbar button {
    float: right;
    color: whitesmoke;
    text-align: center;
    padding: 20px 26px;
    text-decoration: none;
    font-size: 26px;
}

.sidebar{
    background-color: #333;
    color: white;
    height: 100%;
    font-size: 30px;
}

.sidebar h3{
    margin-left: 10px;
    display: block;
    color: white;
    padding-bottom: 10px;
    font-size: 30px;
    text-decoration: none;
}

.large-text {
    font-size: 30px;
}

.card{
    position: relative;
    display: flex;
    flex-direction: column;
}

.content{
    background-color: whitesmoke;
}

.text-secondary {
    position: relative; /* Necesario para posicionar el ícono correctamente */
}

.edit-icon {
    font-size: 14px; /* Reduce el tamaño del ícono */
    opacity: 0.5; /* Ajusta la transparencia (1 es completamente opaco, 0 es completamente transparente) */
    cursor: pointer;
    transition: opacity 0.3s ease; /* Añade una transición suave para la opacidad */
}

.no-border {
    border: none;
    background-color: transparent;
    color: whitesmoke;
}

h1:hover .edit-icon {
    opacity: 1; /* Hace el ícono completamente opaco al pasar el cursor */
}

@media (max-width: 768px) {
    .topbar a {
        padding: 10px 15px; /* Menos padding */
        font-size: 18px; /* Fuente más pequeña */
    }

    .sidebar a {
        font-size: 20px; /* Ajusta el tamaño de la fuente en la barra lateral */
    }

    .edit-icon {
        font-size: 12px; /* Ícono más pequeño */
    }
}