body {
    font-family: 'Arial', sans-serif; /* Fuente más moderna */
  }
  
  h2 {
    color: #333; /* Color más oscuro para mejor contraste */
  }
  
  .form-label {
    color: #666; /* Color más suave para las etiquetas */
  }
  
  .btn-primary {
    background-color: #0056b3; /* Color azul característico */
    border: none;
  }
  
  .btn-primary:hover {
    background-color: #004494; /* Un tono más oscuro al pasar el mouse */
  }
  
  .info-coche h5 {
    color: #0056b3; /* Cambia el color según tu paleta de diseño */
    font-weight: bold;
  }
  .info-coche p {
    font-size: 0.9rem;
    color: #333; /* Texto más oscuro para mejorar la legibilidad */
  }

  .footer {
    background-color: #343a40;
    color: white;
    padding: 20px 0;
    margin-top: 20px;
}

.footer a {
    color: white;
}

.footer a:hover {
    color: #d4d4d4;
    text-decoration: none;
}

